{% extends "blog/base.html" %}
{% block content %}

  <div class="row justify-content-md-center" align:center>
      <div class="col-lg-4 thumbnail">
        <img src="/static/images/Chrysanthemum.jpg"  alt="Chrysanthemum">

        <p>
          <h4><b>My Blog</b></h4>

          This is a blog made out of tools using python and django.
          Class Based Views (CBV) is used. This blog allows you to post content,
          edit content. User can make more than one post. You need to have LogIn
          credentials to use this blog.
          <br>
          <br>
          <br>
          <br>
          <br>
        </p>
      </div>
      <div class="col-lg-4 thumbnail">
        <img src="/static/images/Chrysanthemum.jpg" alt="Chrysanthemum">
        <p>
          <h4><b>Meet Django!</b></h4>
          Django is a high-level Python Web framework that encourages rapid development
          and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle
          of Web development, so you can focus on writing your app without needing to reinvent the wheel.
          It’s free and open source.<br>
          source:www.django.com
          <br>
          <br>
        </p>

      </div>
      <div class="col-lg-4 thumbnail">
        <img src="/static/images/Chrysanthemum.jpg" alt="Chrysanthemum">
        <p>
          <h4><b>Python web development!</b></h4>
          Python offers many frameworks from which to choose from including
          bottle.py, Flask, CherryPy, Pyramid, Django and web2py. ... These frameworks have been used
          to power some of the world's most popular sites such as Spotify, Mozilla, Reddit,
          the Washington Post and Yelp.<br>
          source: www.realpython.com
          <br>
          <br>
          <br>
        </p>
      </div>
  </div>

{% endblock %}
