{% extends "blog/base.html" %}
{% block content %}
<div class="blog_posts">
  <p></p>
  <h1>Welcome To My Blog</h1>
  <p></p>
  <div class="centerstage">
    {% for post in post_list %}
    <div class="post">
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    </div>
    <div class="date">
      <p>Published date: {{ post.published|date:"D M Y"}}</p>
    </div>
    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
